<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
</head>
<body>
    <table>
        <thead>
            <tr>First Name</tr>
            <tr>Last Name</tr>
            <tr>Full Name</tr>
        </thead>
        <tbody>
            {%for user in users%}
            <tr>
                <td>
                    {{user['first_name']}}
                </td>
                <td>
                    {{user['last_name']}}
                </td>
                <td>
                    {{user['first_name']+" "+ user['last_name']}}
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>