.color0{
    background-color: red;
}
.color1{
    background-color: black;
}
table tr td{
    width: 70px;
    height: 70px;
}
.color3{
    background-color: {{color1}} ;
}
.color4{
    background-color: {{color2}};
}
/* table{
    border-collapse: collapse;
} */